<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta name = "viewport" content = "width = device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <link rel="stylesheet" type="text/css" href="static/style.css">
   <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>

<header>
    <h1>Openwest 2017 CTF</h1>
</header>

<div id="wrapper">

    <main>
        <div id="content">
            <h1 class="challenge_name">{{ challenge_name }}</h1>
            <pre class="description">{{ text }}</pre>
        </div>
    </main>

</div>

<footer>
    <p>Hosted by Utah Open Source</p>
</footer>

</body>
</html>
