<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta name = "viewport" content = "width = device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <link rel="stylesheet" type="text/css" href="/static/style.css">
   <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>

<header>
    <h1>Openwest 2017 CTF</h1>
</header>

<div id="wrapper">

    <main>
        <div id="content">
            <br>
            <br>
            <br>
            <br>
            <h1 class="challenge_name">{{ challenge_name }}</h1>
            <form action = "/message_extension/guess" method="POST">
                <p><label for="extension">Text added to message:</label></p>
                <p><input type="text" id="extension" name="extension" /></p>
                <p><label for="message">Full extended message as a hex string: </label></p>
                <p><input type="text" id="message" name="message" /></p>
                <p><label for="digest">Message hex digest as a string: </label></p>
                <p><input type="text" id="digest" name="digest" /></p>
                <div
                        class="g-recaptcha"
                        data-sitekey="6LcfMhYUAAAAAEZ-7X3-i5LeQc9j2_TEf6O5O6bA"
                        data-theme="dark">
                </div>
                <br/>
                <p><input type="submit" value="submit" /></p>
            </form>
        </div>
    </main>

</div>

<footer>
    <p>Hosted by Utah Open Source</p>
</footer>

</body>
</html>
