<!DOCTYPE html>
<html>
<head>
   <title>{{ title }}</title>
   <meta name = "viewport" content = "width = device-width">
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <link rel="stylesheet" type="text/css" href="/static/style.css">
   <link rel="stylesheet" type="text/css" href="static/style.css">
   <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>

<header>
   <div class="innertube">
      <h1>Openwest 2017 CTF</h1>
   </div>
</header>

<div id="wrapper">
   <main>
      <div id="content">
         <div class="innertube">
            <h1 class="challenge_name">{{ challenge_name }}</h1>
            <pre class="description">{{ text }}</pre>
         </div>
      </div>
   </main>

</div>

<pre>    Positive</pre>
<pre class="boxed">{{ positive }}</pre>
<pre>    Negative</pre>
<pre class="boxed">{{ negative }}</pre>

<form action = "regular_expressions/submit" method="POST">
    <p><label for="team_name">Team Name:</label></p>
    <p><input type="text" id="team_name" name="team_name" /></p>
    <p><label for="regex">Regular Expression:</label></p>
    <p><input type="text" id="regex" name="regex" /></p>
   <div
        class="g-recaptcha"
        data-sitekey="6LcfMhYUAAAAAEZ-7X3-i5LeQc9j2_TEf6O5O6bA"
        data-theme="dark">
   </div>
   <br/>
   <p><input type="submit" value="submit" /></p>
</form>


<footer>
  <p>Hosted by Utah Open Source</p>
</footer>

</body>
</html>

