<!DOCTYPE html>
<html xmlns: xmlns: xmlns:>
<head>
    <title>ICTF:Information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <link rel="stylesheet" type="text/css" href="/static/style.css">
   <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
<header>
    <h1>Openwest 2017 Intercollegiate CTF</h1>
</header>

<div id="wrapper">

    <main>
        <div id="content">
            <h1 class="challenge_name">Information</h1>
            <ul>
                <li><a href="#basics">Basics</a></li>
                <li><a href="#What is">What is Capture the Flag?</a></li>
                <li><a href="#Requirements">Requirements and Rules</a></li>
                <li><a href="#Register">Register</a></li>
                <li><a href="#Prizes">Prizes</a></li>
                <li><a href="#FAQ">Frequently Asked Questions</a></li>
            </ul>

            <hr class="\&quot;ttfmake-hr\&quot;">

            <a name="basics">Basics</a>
            <p>
            Where: South Towne Exposition Center – Sandy,UT<br>
            When: Thursday July 13 – Friday July 14 2017<br>
            What: Intercollegiate Capture the Flag Competition<br>
            How much: $60 per team.  The early bird discount of $40 ends on May 29th.<br>
            - Registered teams will get codes to upgrade to a full-openwest ticket
            </p>
            
            

            <hr class="\&quot;ttfmake-hr\&quot;">

            <a name="What is">What is Capture the Flag?</a>
	    <p>
<br>
Capture The Flag (CTF) is a specially designed strategic war-game that mimics real world security challenges.<br>
The main component of our CTF will be jeopardy style; Teams have to solve a set of challenges from diverse areas such as Binary exploitation, Cryptography, Forensics, Reverse Engineering and Web application exploitation.
            </p>
            <hr class="\&quot;ttfmake-hr\&quot;">

            <p><a name="Requirements">Requirements and Rules</a><br>
            <pre>
    * A maximum of four members can join each team
    * The team registration fee must be payed by the deadline to July 1
    * Every team member must be enrolled in graduate or undergraduate studies at the same university
    * Every team needs to be sponsored by a campus department or club
    * Every team member must be physically present at the awards ceremony in order for the team to win
    * Unitl further notice, only two teams may register from the same university.
            </pre>
        
            <hr class="\&quot;ttfmake-hr\&quot;">

            <p><a name="Register">Register<br></a></p>
            <p>
             Go to the following url, click on "TICKETS" then on "Enter Promotional Code".  <br>
             Use "flag-ow2017-" as the promotional code to buy ictf tickets. <br>
             <a href="https://www.eventbrite.com/e/openwest-2017-tickets-33363564319">Register with eventbrite</a>
             </p>
            <hr class="\&quot;ttfmake-hr\&quot;">

            <p><a name="Prizes">Prizes</a>
            <pre>
    * Specifics about the prizes will be sent to registered teams
    * There will be certain prizes for the teams that win 1st and 2nd place.
            </pre>

            <hr class="\&quot;ttfmake-hr\&quot;">

            <p><a name="FAQ">Frequently Asked Questions<br></a></p>
            <pre>
Q: Why do all my team members have to be from the same University?
A: This in an intercollegiate challenge we would like it to be clear which College or University won the competition

Q: Why do we need to have a sponsoring department?
A: The winning team will also receive a reward for their department to help fund research and other activities.

Q: I work better alone, is it necessary to have a team of four?
A: Yes, teams must have four members, that way the difficulty and the rewards will be equal for every team.

Q: I have a friend who would like to participate, but isn’t enrolled in any university, can they join my team?
A: Because this is an intercollegiate event, all team members must be enrolled in classes at the same university.

Q: Is the competition all three days, or would each team only compete on one of the days?
A: The competition will take place from 10:00 AM on Thursday to 4:00 PM on Friday. The awards ceremony will take place at 5:00PM on Friday.
team members are welcome to attend openwest regularly on Wednesday and Saturday.

Q: Do we have to be physically present for the entire competition?
A: While some challenges can be remotely, there are several challenges that require local access.
   Being present also makes it easy for our sponsors to interact with your team.

Q: How much time each day would be required?
A: There is currently no time limit. We allow working on the opened challenges 24×7 and it is expected that the competition will occupy the majority of the participant’s time.

Q: Is the competition mostly question/answer or will we actually attempt to break into systems to find a flag?
A: The challenges are typically a combination of Red Team challenges / Scavenger Hunt / QA / physical security.

Q: What day/time is the awards ceremony?
A: It will be on the Friday July 14th at 5:00 PM

Q: Do the competitors need to bring their own laptops?
A: Each participant will need to bring their own laptop with their own tools.

Q: Are competitors allowed to use their own tools (Kali, etc)
A: Yes, absolutely

Q: My team is located relatively far away from Sandy,UT; are there arrangements for staying on/near the premises?
A: Many of the teams based in Utah are planning on carpooling to Sandy every day for the competition; We are working on setting up hotel/food packages for teams that have to travel a significant distance.

Q: Will members of my team be given an openwest badge?
A: ICTF Team captains will be sent 4 codes that can be used to upgrade each team member's ticket to a full openwest ticket for $35.  This upgrade would give them access to the events on Wednesday and Saturday as well as t-shrits, badges, and swag that other attendees receive.


Registered teams will be notfied of any changes to this information
            </pre>
        </div>
    </main>

</div>

<footer>
    <p>Hosted by Utah Open Source</p>
</footer>

</body>
</html>
